/.settings/*
/commands/*
/mail/*
/tests/*
/vendor/*
/widgets/*
/controllers/SiteController.php
/views/site/*
/Procfile
/assets/COTAHIST
/backup/*
.env
assets/2009 - 2019
assets/2011 - 2021
assets/2012 - 2019
assets/2014 - 2021
assets/2016 - 2019
assets/2018 - 2019
assets/2018 - 2021
assets/2018 - 2019- 2 meses
assets/2018 - 2019- 6 meses
assets/teste_matriz_mensal_1.csv
assets/teste_matriz_mensal_2.csv
assets/teste_matriz_mensal_3.csv
assets/teste_matriz_mensal_4.csv
assets/teste_matriz_mensal_5.csv
assets/teste_matriz_mensal_6.csv
assets/teste_matriz_mensal_7.csv
assets/teste_matriz_mensal_8.csv
assets/teste_matriz_mensal_9.csv
assets/teste_matriz_mensal_10.csv
assets/teste_matriz_mensal_11.csv
assets/teste_matriz_mensal_12.csv
assets/teste_matriz.csv
assets/teste_valores_mensal_1.csv
assets/teste_valores_mensal_2.csv
assets/teste_valores_mensal_3.csv
assets/teste_valores_mensal_4.csv
assets/teste_valores_mensal_5.csv
assets/teste_valores_mensal_6.csv
assets/teste_valores_mensal_7.csv
assets/teste_valores_mensal_8.csv
assets/teste_valores_mensal_9.csv
assets/teste_valores_mensal_10.csv
assets/teste_valores_mensal_11.csv
assets/teste_valores_mensal_12.csv
assets/teste_valores.csv
assets/teste.csv
assets/mean/*
data/*
heuristica.zip
web/arquivo_reais.txt
web/arquivo_teste_days.txt
web/continuous_growth.txt
web/percentage_hits.txt